# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. Afisati primele 5 linii din tabel
    1. Care este numarul de date din DataFrame?
    1. Comparati iesirea metodelor `info()` si `describe()`.
    1. Care e numarul de coloane? afisati numele lor.
    1. Cum e indexat setul de date? sunt valorile din index unice?
    1. Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. Transformati intr-un ant dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din ref bibliografica 1 din curs e utila pentru intelegerea agregarilor.
    1. De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. Care sunt banii incasati pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. Cate echipe au participat la Euro 2012?
    1. Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. Pe care continent se bea mai multa bere, in medie?
    1. Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

**Precizari**:
* Predarea se va face in saptamana 25-29 martie 2019.
* Temele se pot lucra in echipa se se depun in acest caz in repository-urile github create pentru prima tema.
* Punctajul problemelor va fi precizat in decursul acestei saptamanini, urmariti documentul.

In [3]:
import pandas as pd
import numpy as np

In [4]:
chipotle=pd.read_csv('chipotle.tsv.txt',delimiter='\t')
#print(list(chipotle.columns.values))
print(chipotle)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
5            3         1                           Chicken Bowl
6            3         1                          Side of Chips
7            4         1                          Steak Burrito
8            4         1                       Steak Soft Tacos
9            5         1                          Steak Burrito
10           5         1                    Chips and Guacamole
11           6         1                   Chicken Crispy Tacos
12           6         1                     Chicken Soft Tacos
13           7         1                           Chicken Bowl
14           7         1                    Chips and Guacamole
15           8         1  Chips and Tomatillo-Green Chili Salsa
16           8         1                        Chicken Burrito
17           9         1                        Chicken Burrito
18           9         2                            Canned Soda
19          10         1                           Chicken Bowl
20          10         1                    Chips and Guacamole
21          11         1                       Barbacoa Burrito
22          11         1                       Nantucket Nectar
23          12         1                        Chicken Burrito
24          12         1                                   Izze
25          13         1           Chips and Fresh Tomato Salsa
26          13         1                           Chicken Bowl
27          14         1                       Carnitas Burrito
28          14         1                            Canned Soda
29          15         1                        Chicken Burrito
...        ...       ...                                    ...
4592      1825         1                       Barbacoa Burrito
4593      1825         1                          Carnitas Bowl
4594      1825         1                          Barbacoa Bowl
4595      1826         1                           Chicken Bowl
4596      1826         1                    Chips and Guacamole
4597      1826         1                      Canned Soft Drink
4598      1826         1                          Bottled Water
4599      1827         1                           Chicken Bowl
4600      1827         1                    Chips and Guacamole
4601      1827         1                      Canned Soft Drink
4602      1827         1                       Barbacoa Burrito
4603      1827         1                       Barbacoa Burrito
4604      1828         1                           Chicken Bowl
4605      1828         1                    Chips and Guacamole
4606      1828         1                      Canned Soft Drink
4607      1829         1                          Steak Burrito
4608      1829         1                         Veggie Burrito
4609      1829         1                      Canned Soft Drink
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                   NaN     $1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                  NaN     $4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...    $11.25
14                                                  NaN     $4.45
15                                                  NaN     $2.39
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                             [Sprite]     $2.18
19    [Tomatillo Red Chili Salsa, [Fajita Vegetables...     $8.75
20                                                  NaN     $4.45
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99
22                                 [Pomegranate Cherry]     $3.39
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
24                                         [Grapefruit]     $3.39
25                                                  NaN     $2.39
26    [Roasted Chili Corn Salsa (Medium), [Pinto Bea...     $8.49
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.99
28                                         [Dr. Pepper]     $1.09
29    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
...                                                 ...        ...
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...    $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...    $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75
4595  [Tomatillo Green Chili Salsa, [Rice, Black Bea...     $8.75
4596                                                NaN     $4.45
4597                                           [Nestea]     $1.25
4598                                                NaN     $1.50
4599      [Roasted Chili Corn Salsa, [Cheese, Lettuce]]     $8.75
4600                                                NaN     $4.45
4601                                        [Diet Coke]     $1.25
4602                      [Tomatillo Green Chili Salsa]     $9.25
4603                      [Tomatillo Green Chili Salsa]     $9.25
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $8.75
4605                                                NaN     $4.45
4606                                             [Coke]     $1.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4609                                           [Sprite]     $1.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [30]:
#1A
chipotle.head(5)

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,Izze,[Clementine],$3.39,$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98 $16.98

In [53]:
#1B
print("Numarul de inregistrati din DataFrame este:", chipotle.shape[0])

Numarul de inregistrati din DataFrame este: 4622

In [33]:
#1C
chipotle.info()
chipotle.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
total_price           4622 non-null object
dtypes: int64(2), object(4)
memory usage: 216.7+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [57]:
#1D
print("Numarul de coloane:", chipotle.shape[1], chipotle.head(0))

Numarul de coloane: 6 Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price, total_price]
Index: []

In [177]:
#1E
print(chipotle.index)

RangeIndex(start=0, stop=4622, step=1)

In [199]:
#1F
chipotle_sort=chipotle.sort_values(['item_name'])
print(chipotle_sort.item_name.drop_duplicates())
#print("Numarul de marfuri:", chipotle_sort['item_name'].count())
print(chipotle.item_name.value_counts())

3389                        6 Pack Soft Drink
418                             Barbacoa Bowl
1202                         Barbacoa Burrito
1019                    Barbacoa Crispy Tacos
3546                      Barbacoa Salad Bowl
3548                      Barbacoa Soft Tacos
2441                            Bottled Water
673                                      Bowl
760                                   Burrito
1142                              Canned Soda
964                         Canned Soft Drink
1359                            Carnitas Bowl
1097                         Carnitas Burrito
554                     Carnitas Crispy Tacos
3750                           Carnitas Salad
2610                      Carnitas Salad Bowl
2299                      Carnitas Soft Tacos
4555                             Chicken Bowl
2026                          Chicken Burrito
1027                     Chicken Crispy Tacos
2968                            Chicken Salad
3117                       Chicken Salad Bowl
1496                       Chicken Soft Tacos
2193                                    Chips
3506             Chips and Fresh Tomato Salsa
311                       Chips and Guacamole
674         Chips and Mild Fresh Tomato Salsa
2602       Chips and Roasted Chili Corn Salsa
1458       Chips and Roasted Chili-Corn Salsa
1593    Chips and Tomatillo Green Chili Salsa
1999      Chips and Tomatillo Red Chili Salsa
3657    Chips and Tomatillo-Green Chili Salsa
2972      Chips and Tomatillo-Red Chili Salsa
521                              Crispy Tacos
1213                                     Izze
2379                         Nantucket Nectar
1414                                    Salad
1120                            Side of Chips
3190                               Steak Bowl
4546                            Steak Burrito
3503                       Steak Crispy Tacos
752                               Steak Salad
4391                         Steak Salad Bowl
4549                         Steak Soft Tacos
2326                              Veggie Bowl
1959                           Veggie Burrito
1653                      Veggie Crispy Tacos
3471                             Veggie Salad
4201                        Veggie Salad Bowl
738                         Veggie Soft Tacos
Name: item_name, dtype: object
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Crispy Tacos                               2
Bowl                                       2
Salad                                      2
Carnitas Salad                             1
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Name: item_name, dtype: int64

In [188]:
#1G
print(chipotle.quantity.sum())

4972

In [25]:
#1H
chicken=chipotle[chipotle["item_name"]=="Chicken Crispy Tacos"]
#float: price=user_info.item_price
#chicken["item_price"]=pd.to_numeric(chicken["item_price"], errors='ignore')
#chicken["item_price"]=chicken["item_price"].replace('[\$,)]', '', regex=True).replace( '[(]','-',   regex=True ).astype(float)
chicken.item_price=chicken.item_price.str.replace('$', '').astype(float)
print(chicken.item_price.agg(['min', 'max', 'mean', 'median']))
print("Numarul total de produse comandate:", chicken.quantity.sum())
print("Venituri:", chicken.item_price.sum(), "$")
chicken.describe()

min        8.490000
max       17.500000
mean      10.045319
median     8.750000
Name: item_price, dtype: float64
Numarul total de produse comandate: 50
Venituri: 472.13 $

          order_id   quantity  item_price
count    47.000000  47.000000   47.000000
mean   1008.127660   1.063830   10.045319
std     500.469763   0.247092    2.260303
min       6.000000   1.000000    8.490000
25%     486.000000   1.000000    8.750000
50%    1156.000000   1.000000    8.750000
75%    1342.000000   1.000000   11.250000
max    1775.000000   2.000000   17.500000

In [196]:
#1I
items = chipotle.groupby('item_name').sum()
items.quantity.nlargest(3)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

In [197]:
#1J
veggie = chipotle[chipotle["item_name"] == "Veggie Salad Bowl"].count()
vg = veggie.quantity
print("Veggie Salad Bowl a fost comandat de:", vg, "ori")

Veggie Salad Bowl a fost comandat de: 18 ori

In [203]:
#1K
soda=chipotle[chipotle["item_name"]=="Canned Soda"]
soda=soda.where(a["quantity"]>1).dropna()
print(a.quantity.count(), "de ori.")

20 de ori.

In [6]:
#1L
chipotle['total_price'] = chipotle['quantity'] * chipotle['item_price']
chipotle

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,Izze,[Clementine],$3.39,$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98 $16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,$10.98
6,3,1,Side of Chips,NaN,$1.69,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,$9.25
10,5,1,Chips and Guacamole,NaN,$4.45,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75,$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,$11.25
14,7,1,Chips and Guacamole,NaN,$4.45,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49,$8.49
18,9,2,Canned Soda,[Sprite],$2.18,$2.18 $2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,$8.75
20,10,1,Chips and Guacamole,NaN,$4.45,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99,$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39,$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,$10.98
24,12,1,Izze,[Grapefruit],$3.39,$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99,$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09,$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49,$8.49
...,...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75,$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75,$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75,$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25,$1.25
4598,1826,1,Bottled Water,NaN,$1.50,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25,$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25,$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25,$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25,$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75,$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25,$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25,$9.25
4613,1831,1,Chips,NaN,$2.15,$2.15
4614,1831,1,Bottled Water,NaN,$1.50,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75,$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,$8.75

In [11]:
uefa=pd.read_csv('Euro 2012 stats TEAM.csv',delimiter=',')
print(uefa)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored      ...       \
0              0              0                     0      ...
1              0              0                     0      ...
2              1              0                     0      ...
3              0              0                     0      ...
4              1              0                     0      ...
5              2              1                     0      ...
6              1              1                     1      ...
7              2              0                     0      ...
8              2              0                     0      ...
9              0              0                     0      ...
10             6              0                     0      ...
11             0              0                     0      ...
12             2              0                     0      ...
13             0              1                     0      ...
14             3              0                     0      ...
15             0              0                     0      ...

    Saves made  Saves-to-shots ratio  Fouls Won Fouls Conceded  Offsides  \
0           13                 81.3%         41             62         2
1            9                 60.1%         53             73         8
2           10                 66.7%         25             38         8
3           22                 88.1%         43             45         6
4            6                 54.6%         36             51         5
5           10                 62.6%         63             49        12
6           13                 65.1%         67             48        12
7           20                 74.1%        101             89        16
8           12                 70.6%         35             30         3
9            6                 66.7%         48             56         3
10          10                 71.5%         73             90        10
11          17                 65.4%         43             51        11
12          10                 77.0%         34             43         4
13          15                 93.8%        102             83        19
14           8                 61.6%         35             51         7
15          13                 76.5%         48             31         4

    Yellow Cards  Red Cards  Subs on  Subs off  Players Used
0              9          0        9         9            16
1              7          0       11        11            19
2              4          0        7         7            15
3              5          0       11        11            16
4              6          0       11        11            19
5              4          0       15        15            17
6              9          1       12        12            20
7             16          0       18        18            19
8              5          0        7         7            15
9              7          1        7         7            17
10            12          0       14        14            16
11             6          1       10        10            17
12             6          0        7         7            16
13            11          0       17        17            18
14             7          0        9         9            18
15             5          0        9         9            18

[16 rows x 35 columns]

In [12]:
#2A
print('Echipe:', uefa.Team.count())

Echipe: 16

In [13]:
#2B
sort=uefa.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)
print(sort[["Team", "Red Cards", "Yellow Cards"]])

                   Team  Red Cards  Yellow Cards
6                Greece          1             9
9                Poland          1             7
11  Republic of Ireland          1             6
7                 Italy          0            16
10             Portugal          0            12
13                Spain          0            11
0               Croatia          0             9
1        Czech Republic          0             7
14               Sweden          0             7
4                France          0             6
12               Russia          0             6
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
2               Denmark          0             4
5               Germany          0             4

In [183]:
#2C
media=uefa.mean()
media=media[["Red Cards"]]
mediana=uefa.median()
print("Media:\n", media[["Red Cards"]])
print("Mediana:\n", mediana[["Red Cards", "Yellow Cards"]])

Goals                            4.750000
Shots on target                 17.125000
Shots off target                24.937500
Total shots (inc. Blocked)      54.937500
Hit Woodwork                     1.250000
Penalty goals                    0.187500
Penalties not scored             0.062500
Headed goals                     1.375000
Passes                        1763.375000
Passes completed              1467.375000
Touches                       2579.187500
Crosses                         57.187500
Dribbles                        52.312500
Corners Taken                   21.562500
Tackles                         68.375000
Clearances                      86.375000
Interceptions                   63.562500
Clearances off line              0.333333
Clean Sheets                     1.062500
Blocks                          12.562500
Goals conceded                   4.750000
Saves made                      12.125000
Fouls Won                       52.937500
Fouls Conceded                  55.625000
Offsides                         8.125000
Yellow Cards                     7.437500
Red Cards                        0.187500
Subs on                         10.875000
Subs off                        10.875000
Players Used                    17.250000
dtype: float64
Media:
 Red Cards    0.1875
dtype: float64
Mediana:
 Red Cards       0.0
Yellow Cards    6.5
dtype: float64

In [15]:
#2D
print(media)
print(uefa["Team"].where(uefa["Red Cards"] > media["Red Cards"]).dropna())

Red Cards    0.1875
dtype: float64
6                  Greece
9                  Poland
11    Republic of Ireland
Name: Team, dtype: object

In [16]:
#2E
print(uefa["Team"].where(uefa["Team"].str.startswith("G")).dropna())

5    Germany
6     Greece
Name: Team, dtype: object

In [17]:
#2F
eng=uefa[uefa["Team"]=="England"]
grc=uefa[uefa["Team"]=="Greece"]
rus=uefa[uefa["Team"]=="Russia"]
             
print(eng[["Team", "Shooting Accuracy"]], grc[["Team", "Shooting Accuracy"]], rus[["Team", "Shooting Accuracy"]])

      Team Shooting Accuracy
3  England             50.0%      Team Shooting Accuracy
6  Greece             30.7%       Team Shooting Accuracy
12  Russia             22.5%

In [7]:
drinks=pd.read_csv('drinks.csv',delimiter=',')

In [8]:
#3A
drinks.groupby('continent')['beer_servings'].sum().nlargest(1)

continent
EU    8720
Name: beer_servings, dtype: int64

In [150]:
#3B
drinks.groupby("continent")["wine_servings"].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [152]:
#3C
drinks.groupby("continent")["beer_servings"].agg(['min', 'max', 'mean'])

           min  max        mean
continent
AF           0  376   61.471698
AS           0  247   37.045455
EU           0  361  193.777778
OC           0  306   89.687500
SA          93  333  175.083333